{% comment %}
Loop through a defined number of articles with the 'paginate' tag.
Don't forget to close the tag after your loop.
{% endcomment %}

{% paginate blog.articles by 5 %}

{% comment %}
This template is also used for listing out articles of a specific tag.
You can change layouts or styles by checking if current_tags is true.
{% endcomment %}


<div class="row">


  <div class="col-xs-12 col-sm-12 col-md-12 col-main">
    <div class="content-blogs">
      {% comment %}
      Loop through each article in your blog. This is limited to what you set for pagination above.

      For more info on article liquid tags:
      - http://docs.shopify.com/themes/liquid-variables/article
      {% endcomment %}

      <ul class="list-blog">
        {% for article in blog.articles %}
        <li>
          <div class="row">
            <div class="col-md-5 col-sm-5 col-xs-12">
              <img src="{{ article.image.src | img_url: '1024x1024' }}" alt="{{ article.image.alt }}">
            </div>
            <div class="col-md-7 col-sm-7 col-xs-12">
              <p class="blog_author">

                <span class="blog_author">{{'typo_blog.article.posted_in' | t }} 
                  <time datetime="{{ article.published_at | date: '%Y-%m-%d' }}">
                    {{ article.published_at | date: format: 'abbreviated_date' }}
                  </time><span> | </span> {% if blog.comments_enabled? %}
                  <a href="{{ article.url }}#comments">
                    {{ article.comments_count }} {{ article.comments_count | pluralize: 'comment','comments' }}
                  </a><span class="separator">|</span>
                  {% endif %} </span>  
              </p> 
              <h1><a href="{{ article.url }}">{{ article.title }}</a></h1>

              <div class="des">

                {{ article.excerpt_or_content | truncatewords: 70}}
              </div>

              <p class="button">
                <a href="{{ article.url }}">{{'typo_blog.list_blog.readmore' | t }}</a>
              </p>
              <ul class="user-tags">
              {% include 'tags-article' %}
              <li>{{'typo_blog.article.by_author' | t }} {{ article.author }}</li>
            </ul>
            </div>
            
          </div>
        </li>

        {% endfor %}
      </ul>

      {% if paginate.pages > 1 %}
      <div class="text-center">
        {% include 'pagination' %}
      </div>
      {% endif %}
    </div>
  </div>
</div>
{% endpaginate %}
